<!DOCTYPE html>

<html>
	<head>
        <meta charset="utf-8" />
		<title>Memory Experiment</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	</head>
	<body>
		<div id="container-not-an-ad" class="media">
			<div class="media-left pull-left" href="#">
						<img id="adlogo" src="/static/files/cdl.png" alt="Lab Logo" />
			</div>
			<div class="media-body">
						<h1>Task Complete!</h1>
						<hr />
					    <div class="alert alert-warning">
									<h2>Debriefing</h2>
					    	  <p>Thank you for contributing to research in the Contextual Dynamics Laboratory (http://www.context-lab.com/) at Dartmouth College!</p>
								  <p>Our lab is interested in understanding how exercise and fitness interact with cognitive processes such as memory. We asked for your Fitbit data so that we can relate your metrics (e.g. step counts, heart rate) to your performance on the memory tasks you just took. The purpose of each task was to probe a different area of memory, including immediate verbal recall (word lists, or “shopping lists”), narrative recall (movie clip, or story), paired associations (vocabulary-image pairs, or travel flashcards), spatial memory (symbols task), as well as delayed memory across these domains. We hope that with this data, we will be able to better understand which types of activities (as recorded by your Fitbit) interact with performance in each of these domains.</p>
									<p>We've taken great care to design this task appropriately for Amazon Mechanical Turk and your enjoyment as a Worker, and securely store your data on our servers without any personally-identifiable information. If for any reason you would like to contact us to ask further questions or comment on this experiment, please call the Contextual Dynamics Laboratory at (603) 646-0070 during normal business hours (9 — 5 PM, Monday — Friday), or send an email to contextualdynamics@gmail.com with the title 'AMT Fitness and Memory Experiment Inquiry'. If you have questions, concerns, complaints, or suggestions about human research at Dartmouth, you may call the Office of the Committee for the Protection of Human Subjects at Dartmouth College (603) 646-6482 during normal business hours. Otherwise, thank you for your contributions to scientific research and enjoy your day! </p>
					    </div>
			</div>
		</div>
	</body>
</html>
