<!DOCTYPE html>
<html>
    <head>
        <title>Memory Experiment</title>
        <script src="/static/jspsych/jspsych.js"></script>
        <link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
        <link rel=stylesheet href="/static/css/style.css" type="text/css">
        <link rel="stylesheet" href="/static/css/jspsych.css">
    </head>
    <body>
        <div id="container-fitbit">
            <div id="fitbit">
            <h1> Fitbit Data Access </h1>
            <p> We now need you to provide read-only access to your Fitbit data. This data will be <strong> anonymized </strong> and will only be used to interpret your memory task data. </p>
            <p> <b> NOTE: Please sync your Fitbit data now by turning on your Bluetooth on your mobile device and opening your Fitbit app.</b><p>
            <p> Next, click on the following button, log in to your Fitbit account and check the box <strong>'Select all'</strong> to proceed.</p>
            <p><button type="button" onclick = "w = window.open(serverporturl  + 'fitbit_auth.html','','width=600,height=600'); w.uniqueId = uniqueId; w.client_id = client_id;w.client_secret=client_secret; w.scope = scope; w.redirect_uri = redirect_uri;  w.expires_in = expires_in; w.prompt_flag = prompt_flag;" >Authorize Fitbit Data</button></p>
            <p><input type="checkbox" id="fitbit_checkbox" />
                    I have provided my Fitbit data for this study. </p>
            <button type="button" id="start">Start Experiment</button>

            </div>
        </div>
    </body>
</html>
