<!DOCTYPE html>
<html>
    <head>
        <title>Memory Experiment</title>
        <script src="/static/jspsych/jspsych.js"></script>
        <link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
        <link rel=stylesheet href="/static/css/style.css" type="text/css">
        <link rel="stylesheet" href="/static/css/jspsych.css">
        <script type="text/javascript">
            function onexit() {
              self.close();
            }
            function accessFitbit() {
              $.post("/access-fitbit-data", {
                //"clientID": cID,
                //"clientSecret": cS,
                console.log('retrieving Fitbit data')
              });
            }
        </script>
    </head>
    <body>
        <div id="container-fitbit">
            <div id="fitbit">
            <h1> Fitbit Data Access </h1>
            <p> We now need you to provide read-only access to your Fitbit data. This data will be <strong> anonymized </strong> and will only be used to interpret your memory task data. </p>
                <button type="button" onclick="accessFitbit()">Authorize Fitbit Data</button>
                <p> <input type="checkbox" id="fitbit_checkbox" />
                    I agree to provide my Fitbit data for this study. </p>
                <button type="button" id="start">Start Experiment</button>
            </div>
        </div>
    </body>
</html>
