<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
  <link rel=stylesheet href="/static/css/style.css" type="text/css">

<script type = "text/javascript">


// need post method to retrieve access code



// then need to use access code to retrieve data

// save data then continue on


//alert("js working");
urlstring = String(window.location.href)
//console.log(urlstring)
urlsplit = urlstring.split('code=')
//console.log(urlsplit[1])
hash_auth_code = urlsplit[1];
split_hash = hash_auth_code.split('#')
auth_code = split_hash[0]



client_id="22CV44"
//client_secret="181ad1d21458261e54e979a8e65e85c9"

//  'client_id=22CV44&grant_type=authorization_code&redirect_uri='+urlstring,

client_string = 'client_id=' + client_id + '&grant_type=authorization_code&redirect_uri='+urlstring,

console.log(client_string)

//http://localhost:22364/redirect.html&code='+auth_code,
//'https://api.fitbit.com/oauth2/token?code='+auth_code+'&client_id='+client_id+'&grant_type=authorization_code'
acc_url = 'https://api.fitbit.com/oauth2/token?code='+auth_code+'&client_id='+client_id+'&grant_type=authorization_code' //https://api.fitbit.com/oauth2/token

promise_val = fetch(acc_url, { //'https://api.fitbit.com/oauth2/token'
  method: 'POST',
  headers: new Headers({
  'Content-Type': 'application/x-www-form-urlencoded',
  'Authorization': 'Basic '+btoa('22CV44:181ad1d21458261e54e979a8e65e85c9'),
  //'Access-Control-Allow-Headers': 'Access-Control-Allow-Origin', //"Access-Control-Allow-Headers, Origin, Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers",
  //'Access-Control-Allow-Origin': '*',
  //'Body':
  //'body': client_string,
  //'grant_type': 'authorization_code', //not working... troubleshoot again with other soln's
  })
  //data: client_string,
}).then(function(response){
  promise_obj = response.json()
  //console.log(promise_obj)
  return promise_obj // returns resolved promise
}).then(function(resp){
  promise_val = resp //returns values in object
  //console.log(promise_val) //access_token = promise_val['access_token']
  return promise_val
}).then(function(pV){ //TODO: ****separate out this processing part from following retrieval section
  access_token = pV['access_token']
  //console.log(typeof(access_token))
  //test this **make sure have scope selected for profile or whatever extracting, otherwise will get error (need to catch if didnt grant permissions )
  // TODO: determine which parameters to extract
  fetch('https://api.fitbit.com/1/user/-/activities/heart/date/2017-03-01/2018-03-01.json', //https://api.fitbit.com/1/user/-/profile.json', //'https://api.fitbit.com/1/user/-/activities/heart/date/2018-03-19/1d/1sec/time/11:00/12:00.json', //now that have access code, should be able to access data! //'https://api.fitbit.com/1/user/-/profile.json',  //
      {
        method: 'GET',
        headers: new Headers({
          'Authorization': 'Bearer ' + access_token
        }),
        //mode:'cors',
      }
  ).then(function(response){
    data_fetch = response.json()
    //console.log(data_fetch)
    return data_fetch
  }).then(function(resp){
    console.log(resp) //look at data in console
    return resp
  })
 }
)

//TODO: have some check of whether data successfully authorized and accessed (set minimum scope parameters to allow to proceed)
if (promise_val){
  var fitbitSuccess = true;
}
  else {
    var fitbitSuccess = false;
}

console.log(fitbitSuccess)

  //'code': urlsplit,
  //client_id = '22CV44&grant_type=authorization_code&redirect_uri=http://localhost:22364/redirect.html&code='+auth_code,
  //newurl = 'https://api.fitbit.com/oauth2/token?client_id=22CV44&grant_type=authorization_code&redirect_uri=http://localhost:22364/redirect.html&code='+auth_code,
  //console.log(newurl)

/*
  //body: JSON.stringify(opts)
}).then(function(response) {
  console.log(response)
  return response.json();
})
*/

//return some success value if acquired data properly



</script>


</head>

<body>
  <center>
<h1>Thank you for providing access to your Fitbit data!</h1>
<br />
<br />

<button type="button" onclick="window.close();console.log(fitbitSuccess)">Close window and return to the experiment</button>
</center>
</body>



</html>
